* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    display: flex;
    background-color: #c63c51;
    width: 100%;
    height: 120px;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-self: flex-start;
    padding-left: 20%;
    margin-top: -6px;
    margin-left: 78px;
}

.li {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2.2%;
    padding-right: 29%;
}

.li ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

a {
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

a:hover {
    color:#8c3061;
    transition: .2s;
}

.reel-bg {
    background-color: #33061ede;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2.5%;
    padding-bottom: 4%;
}

.reel-title {
    display: flex;
    font-family: "DM Sans", sans-serif;
    color: white;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    font-weight: bold;
    font-size: 40px;
}

.footer {
    display: flex;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: #c63c51;
    position: sticky;
}

.footer .text {
    display: flex;
    font-family: "DM Sans", sans-serif;
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    padding-left: 24.5%;
}

.socials {
    display: flex;
    font-size: 20px;
    padding-left: 40%;
    padding-top: 30px;
}

.socials a {
    text-transform: lowercase;
    font-family: "DM Sans", sans-serif;
    color: white;
    align-content: right;
    justify-content: right;
    padding-bottom: 0;
    margin-bottom: 0;
}

.socials a:hover {
    color:#8c3061;
    transition: .2s;
}

.thumbnail {
    display: flex;
    background-color:#33061ede;
    width: 100%;
    height: 800px;
    margin: 0;
    padding: 0;
}

.Description {
    display: flex;
    font-family: "DM Sans", sans-serif;
    color: white;
    font-size: 30px;
    align-items: left;
    justify-content: left;
    margin-top: 5.5%;
    margin-left: 2%;
    margin-right: 22%;
}

.film-1 {
    display: flex;
    width: 500px;
    height: 500px;
    margin-left: 25%;
    margin-top: 5%;
    
}

.film-title {
    font-family: "DM Sans", sans-serif;
    color: white;
    font-size: 30px;
    align-self: right;
    justify-content: center;
    display: flex;
    
}

hr {
    background-color:#c63c5180; 
    height: 10px;
    border-style: none;
}

.film-title {
    font-family: "DM Sans", sans-serif;
    color: rgb(255, 255, 255);
    background-color: #33061ede;
    font-size: 40px;
    align-self: center;
    justify-content: center;
    display: flex;
    margin: 0;
    padding-top: 1.2%;
}