/* Apply to the entire page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr {
    background-color:#626F47; 
    height: 4px;
    border-style: none;
}

html {
    width: 100%;
}

 /*_____________________________________________ 
                NAVIGATION BAR 
 _____________________________________________ */

.container-nav {
    display: flex;
    background-color: #626F47;
    width: 100%;
    height: 120px;
    justify-content: center;
    align-items: center;
}

.child-nav {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}

.img-nav {
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    grid-column: 1;
    grid-row: 1;
}

.nav-li ul {
    display: flex;
    list-style: none;
    grid-column: 2;
    grid-row: 1;
    gap: 30px;
}

.nav-li a {
    font-family: "DM Sans", sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    color: #FEFAE0;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-li a:hover {
    color:#c3ff00;
    transition: .2s;
}

 /*_____________________________________________ 
                 HEADER SECTION
 _____________________________________________ */


.container-hero {
    display: flex;
    background-color: #798645;
 }

.grid-hero {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
}

.grid-text {
    display: flex;
    flex-direction: column;
    font-family: "DM Sans", sans-serif;
    color: #FEFAE0;
    grid-column: 1;
    grid-row: 1;
    padding-left: 100px;
}

.grid-text h2 {
    font-weight: bolder;
    font-size: 4rem;
    width: auto;
    justify-content: left;
    text-align: left;
}

.grid-text p {
    font-weight: light;
    font-size: 2rem;
    justify-content: left;
    text-align: left;
    width: auto;
}

.video-container {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    border: 5px solid #626F47;
    border-style: none solid;
    border-right: none;
    overflow: auto;
    margin-left: 16%;
}

 /*_____________________________________________ 
                RESUME SECTION
 _____________________________________________ */

 .container-resume {
    background-color: #798645;
    padding-top: 20px;
 }

.resume-title {
    font-family: "DM Sans", sans-serif;
    display: flex;
    color: #FFF7D1;
    font-size: 40px;
    font-weight: 250;
    justify-content: center;
    align-self: center;
}

.resume-title a {
    text-decoration: none;
    color: #FEFAE0;
}

.resume-title a:hover {
    color:#c3ff00;
    transition: .2s;
}

.grid-resume {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr ;
    grid-template-rows: 120px 195px 220px 210px 230px 210px 150px;
    width: auto;
    height: 157vh;
    font-family: "DM Sans", sans-serif;
    color: #FFF7D1;
    padding-top: 20px;
}

#grid-r {
    color: #FFF7D1;
    font-weight: bold;
}

.grid-resume li {
    list-style: none;
}

.grid-t-1 {
    display: flex;
    align-items: right;
    justify-content: right;
    padding: 35px 30px;
    grid-area: 1 / 1 / 1 / 1;
}

 .grid-p-1{
    display: flex;
    align-items: left;
    justify-content: left;
    padding-top: 42px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    grid-area: 1 / 2 / 1 / 2;
}

.grid-l-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 2 / 2 / 2 / 2;
    margin: 0px 28px;
    margin-right: 50px;
}

.grid-t-2 {
    display: flex;
    align-items: right;
    justify-content: right;
    padding-top: 25px;
    padding-right: 30px;
    grid-area: 2 / 1 / 2 / 1;
}

.grid-f-1 {
    display: flex;
    align-items: left;
    justify-content: left;
    font-style: italic;
    font-weight: bold;
    padding: 30px 30px;
    grid-area: 2 / 2 / 2 / 2;
}

.grid-d-1 {
    display: flex;
    align-items: left;
    justify-content: left;
    padding-top: 35px;
    grid-area: 2 / 3 / 2 / 3;
}

.grid-p-2  {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 8px;
    grid-area: 2 / 3 / 2 / 2;
    padding-left: 30px;
    padding-top: 62px;
    padding-bottom: 20px;
}

.grid-l-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 3 / 2 / 3 / 2;
    margin: 0px 28px;
    margin-right: 50px;
}

.grid-f-2 {
    display: flex;
    align-items: left;
    justify-content: left;
    font-style: italic;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 30px;
    grid-area: 3 / 2 / 3 / 2;
}

.grid-d-2 {
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 35px 0px;
    grid-area: 3 / 3 / 3 / 3;
}

.grid-p-3  {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 8px;
    grid-area: 3 / 3 / 3 / 2;
    padding-top: 72px;
    padding-left: 30px;
    padding-right: 35px;
    padding-bottom: 20px;
}

.grid-l-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 4 / 2 / 4 / 2;
    margin: 0px 28px;
    margin-right: 50px;
}

.grid-f-3 {
    display: flex;
    align-items: left;
    justify-content: left;
    font-style: italic;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 30px;
    grid-area: 4 / 2 / 4 / 2;
}

.grid-d-3 {
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 35px 0px;
    grid-area: 4 / 3 / 4 / 3;
}

.grid-p-4  {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 8px;
    grid-area: 4 / 3 / 4 / 2;
    padding-top: 72px;
    padding-left: 30px;
    padding-right: 35px;
    padding-bottom: 20px;
}

.grid-l-4 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 5 / 2 / 5 / 2;
    margin: 0px 28px;
    margin-right: 50px;
}

.grid-f-4 {
    display: flex;
    align-items: left;
    justify-content: left;
    font-style: italic;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 30px;
    grid-area: 5 / 2 / 5 / 2;
}

.grid-d-4 {
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 35px 0px;
    grid-area: 5 / 3 / 5 / 3;
}

.grid-p-5 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 8px;
    grid-area: 5 / 3 / 5 / 2;
    padding-top: 72px;
    padding-left: 30px;
    padding-right: 35px;
    padding-bottom: 20px;
}

.grid-l-5 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 6 / 2 / 6 / 2;
    margin: 0px 28px;
    margin-right: 50px;
}


.grid-t-3 {
    display: flex;
    align-items: right;
    justify-content: right;
    padding: 35px 30px;
    grid-area: 6 / 1 / 6 / 1;
}

.grid-f-5 {
    display: flex;
    align-items: left;
    justify-content: left;
    font-style: italic;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 30px;
    grid-area: 6 / 2 / 6 / 2;
}

.grid-d-5 {
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 35px 0px;
    grid-area: 6 / 3 / 6 / 3;
}

.grid-p-6  {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 8px;
    grid-area: 6 / 2 / 6 / 2;
    padding-top: 72px;
    padding-left: 30px;
    padding-right: 35px;
    padding-bottom: 20px;
}

.grid-l-6 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 7 / 2 / 7 / 2;
    margin: 0px 28px;
    margin-right: 50px;
}

.grid-t-4 {
    display: flex;
    align-items: right;
    justify-content: right;
    padding: 35px 30px;
    grid-area: 7 / 1 / 7 / 1;
}

.grid-f-6 {
    display: flex;
    align-items: left;
    justify-content: left;
    font-style: italic;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 30px;
    grid-area: 7 / 2 / 7 / 2;
} 

.grid-d-6 {
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 35px 0px;
    grid-area: 7 / 3 / 7 / 3;
}

.grid-p-7 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 8px;
    grid-area: 7 / 3 / 7 / 2;
    padding-top: 72px;
    padding-left: 30px;
    padding-right: 35px;
    padding-bottom: 20px;
}

.grid-l-7 {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-area: 8 / 2 / 8 / 2;
    margin: 0px 28px;
    margin-right: 50px;
}

.grid-f-7 {
    display: flex;
    align-items: left;
    justify-content: left;
    font-style: italic;
    font-weight: bold;
    padding-top: 40px;
    padding-left: 30px;
    grid-area: 8 / 2 / 8 / 2;
} 

.grid-d-7 {
    display: flex;
    align-items: left;
    justify-content: left;
    padding: 35px 0px;
    grid-area: 8 / 3 / 8 / 3;
}

.grid-p-8 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    gap: 8px;
    grid-area: 8 / 3 / 8 / 2;
    padding-top: 72px;
    padding-left: 30px;
    padding-right: 35px;
    padding-bottom: 20px;
}
 /*_____________________________________________ 
                PROJECT SECTION
 _____________________________________________ */

.Description {
    display: flex;
    font-family: "DM Sans", sans-serif;
    color: #FFF7D1;
    font-size: 30px;
    align-items: left;
    justify-content: left;
    margin-top: 5.5%;
    margin-left: 2%;
    margin-right: 34%;
}

.film-1 {
    display: flex;
    width: 500px;
    height: 500px;
    margin-left: 15%;
    margin-top: 6%;
}


.film-title {
    font-family: "DM Sans", sans-serif;
    color: #FFF7D1;
    background-color: #798645;
    font-size: 40px;
    align-self: center;
    justify-content: center;
    display: flex;
    margin: 0;
    padding-top: 1.2%;
}

 /*_____________________________________________ 
                FOOTER SECTION
 _____________________________________________ */

.footer {
    display: flex;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    background-color: #626F47AF;
    position: fixed;
    bottom: 0px;
    z-index: 1;
}

.container-blur {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: #626F47AF;
    filter: blur(3px);
    position: fixed;
    bottom: 0px;
    z-index: 0;
}

.footer .text {
    display: flex;
    font-family: "DM Sans", sans-serif;
    color: white;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    padding-left: 24.5%;
}

.socials {
    display: flex;
    font-size: 20px;
    padding-left: 40%;
    padding-top: 30px;
}

.socials a {
    text-transform: lowercase;
    font-family: "DM Sans", sans-serif;
    color: white;
    align-content: right;
    justify-content: right;
    padding-bottom: 0;
    margin-bottom: 0;
}

.socials a:hover {
    color:#8c3061;
    transition: .2s;
}
